@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");



 body
    {
      font-family:"Raleway","Sans serif";
      margin: 0;
      min-height: 100%;

    }

    .header
    {
      display: flex;
      align-items: center;
      max-width: 1400px;
      margin: auto;
        justify-content: space-between;
    }

    img
    {
      border-style: none;
      padding: 3px;
        height: 60px;
        margin-top: 4%;
    }
    @media (max-width: 576px)
    {
    img{width: 90px;
         }
        }

    .disposition_Nav  
{
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
    margin-top: 50px;

    
}
       
    .disposition_hebergement  
    {   
        display: flex;
        padding: 30px;
        text-align: center;
        border-top: 3px solid #0065FC;
        color: #0065FC;
        
    }
    .disposition_inscrire
    {
        display: flex;
        align-items: center;
        padding: 30px;
        color: #0065FC;
        font-weight: 600;
        margin-left: -10%;
       
    }
    .disposition_inscrire:hover
    {
      border-top: 3px solid #0065FC;
      padding: 30px;
    }
    .disposition_activity
    {
      padding: 30px;
        display: flex;
       
    }

    .disposition_activity:hover
    {
      border-top: 3px solid #0065FC;

    }
    @media (max-width: 575px)
 {
    .header
    {
        display: flex;
        max-width: 100%;
        padding: 0%;
        flex-direction: row;
        justify-content: space-around;
      }
    .disposition_Nav  
{
    display: flex;
    list-style-type: none;
    
    
}
       
    .disposition_hebergement  
    {   
        display: flex;
        padding: 30px;
        text-align: center;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .disposition_inscrire
    {
        display: flex;
        text-align: center;
        color: #0065FC;
        font-weight: 600;
        padding: 30px;
    }

    .disposition_activity
    {
        padding: 30px;
        display: flex;
        border-bottom: 3px solid #F2F2F2;
    }
 }

section
     {
      max-width: 1400px;
        margin: auto;
        padding: 3px;
        box-sizing: border-box;
     }

     .title
     {
         margin-bottom: 6px;

     }
    h1 
    {
        font-size: 25px;
        margin: 40px 0;
    }

    .second_title 
    {
        margin-top: 0;
        font-weight: normal;
        font-size: 20px;
    }
    @media (max-width: 575px)
  {
     section
     {
        max-width: 100%;
        margin: 10px;
        padding: 3px;
        box-sizing: border-box;
     }

     .title
     {
         margin-bottom: 6px;
         margin: 10px;

     }
    h1 
    {
        font-size: 25px;
        
    }

    .second_title 
    {
        margin-top: 0;
        font-weight: normal;
        font-size: 20px;
        margin: 10px;
    }
  }

 .search_form 
    {
        display: inline-flex;
        max-width: 100%;
        height: 60px;
        margin-left: 4%;
        
    }
    
    .search_form_icone
    {
        background-color: #F2F2F2;
        padding: 10px 15px;
        border-radius: 20px 0 0 20px;
        text-align: center;
    }

    .search_input
    {
        border-left: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        padding: 0 40px;
        box-sizing: border-box;
       font-size: 15px;
       font-weight: bold;
       font-family: "Raleway","Sans serif";
    }

    .search_input_button
    {

      background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 20px 20px 0;
        padding: 0 15px;
        font-family: "Raleway","Sans serif";
        font-size: 15px;
        cursor: pointer;
    }

    .search_input_button_icon
    {
        display: none;
        color:  #0065FC;
    }
    @media (max-width: 575px) 
{
  .search_form 
  {
    display: flex;
    width: auto;
    margin-left: 5%;
  }

  .search_input
  {
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        border-right: none;
        padding: 0 20px;
        box-sizing: border-box;
       font-size: 13px;
       font-weight: bold;
       font-family: "Raleway","Sans serif";
       width: 200px;
  }
  .search_input_button
    {

        background-color: #0065FC;
        border: none;
        border-radius: 15px 15px 15px 15px;
        width: 55px;
        cursor: pointer;
    }
  .search_input_button_S 
  {
    display: none;
  }
  .search_input_button_icon 
  {
    display: block;
    color: white;
  }
} 


closed_filters
    {
        display: flex;
        margin-top: 40px;
        margin-left: 4%;
        flex-wrap: wrap;
        white-space: normal;
        font-family: "Raleway","Sans serif";
    }

    .filters_title
    {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 0 20px 20px 0;
    }
    .closed_filters_filtres
    {
      display: flex;
        align-items: center;
        border: 2px solid #D9D9D9;
        border-radius: 40px;
        margin-bottom: 30px;
        margin-right: 40px;
        cursor: pointer;
    }
    
    .closed_filters_filtres:hover
    {
      background-color: #F2F2F2;
    }

    .closed_filters_filtres_icon
    {
          background-color: #DEEBFF;
            border-radius: 100%;
            height: 40px;
            width: 40px;
            min-height: 50px;
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -2px;
            text-align: center
      }
      .closed_filters_filtres_icon2
      {
             font-weight: 900;
             display: inline-block;
             font-style: normal;
             font-variant: normal;
             text-rendering: auto;
             line-height: 1;
             color: blue; 

      }

    .closed_filters_mix
    {
            margin-left: 30px;
            margin-right: 10px;
            font-weight: bold;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center
    }
    @media (max-width: 575px)
 {

    .filters_title
    {
        width: 100%;
        margin-left: 10px;
    }
    .closed_filters_filtres
    {
        margin: 10px;

        
    }
    
    .closed_filters_filtres:hover
    {
        background-color: #F2F2F2;
    }

    .closed_filters_filtres_icon
    {
            background-color: #DEEBFF;
            border-radius: 100%;
            height: 40px;
            width: 40px;
            min-height: 50px;
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -2px;
            text-align: center
      }
      .closed_filters_filtres_icon2
      {
             font-weight: 900;
             display: inline-block;
             line-height: 1;
             color: blue; 

      }

    .closed_filters_mix
    {
            margin-left: 20px;
            font-weight: bold;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
    }
 }
 .closed_information
    {
            display: flex;
            align-items: center;
            margin: 20px 0 20px 60px;
    }

    .closed_information
    {
            display: flex;
            align-items: center;
            margin: 5%;
   }
    .closed_information_i
    {
             height: 30px;
             width: 30px;
             min-height: 30px;
             min-width: 30px;
             border: solid 1px #d9d9d9;
             border-radius: 100%;
             display: flex;
             align-items: center;
             justify-content: center;
             margin-right: 10px;
    }
    .closed_information_i_icon
    {
      display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: blue;
    }

    .information_Text
    {
        margin: 0;
        font-family: "Raleway", "Sans serif";
    }
    .accomodation
    {
        display: flex;
        margin: auto;
        
        
    }

    .accomodation_marseille
    {
       
        display: flex;
        gap: 20px;
        background-color: #F2F2F2;
        border-radius: 25px;
        padding: 30px;
        white-space: nowrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 70%;
        height: auto;
       
        
    }

    .accomodation_marseille_title
    {
        margin: 25px 596px 25px 0px;
        font-weight: 700;
       
     }

    .accomodation_marseille_info
    {
       margin: 10px 30px 0 30px; 
       
    }

    .accomodation_marseille_articles
    {
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 0 12px #0000002E;
        cursor: pointer;
        height: 30%;
        width: 31.2%;
        
    }

    .figure
    {
      margin: 0;
    }

    a
    {
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;
      color: black;
       
    }

    .accomodation_marseille_img
    {
      height: 120px;
        object-fit: cover;
        width: 280px;
        border-radius: 25px 25px 0 0;
        margin: 0.30px 0.7px 0.70px 0;
        

    }

    .figcaption
    {
         margin: 0;
         white-space: nowrap;
         

    }

    .figcaption_title
    {
         margin: 10px 30px 0 30px;
            }

    .accomodation_marseille_allstar
    {
        margin: 10px 10px 0 30px;
        color: blue; 
    }
    .show_more
    {
        margin: 50px 0px 0px 0;
        font-weight: 600;

    }