body
{

}

#bloc-page
{
	width: auto;
	margin-left: 5%;
}

/*Header*/

header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: 5%;
}


#titre_principal
{
	display: flex;
	flex-direction: column;
}

#logo
{
display: flex;
flex-direction: row;
align-items: baseline;
}

#logo img
{
	width: 95px;
	height: 45px;
	
}



